torch
einops
llama_index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-embeddings-huggingface
llama-hub @ git+https://github.com/emptycrown/llama-hub.git
pandas
pdfplumber
fsspec
tqdm
